APP_PORT=4200
APP_API_KEY=
APP_PRODUCTION_MODE=docker
APP_BASE_URL=
SERVICES_PARCEL_URL=http://localhost:5000/ParcelService.svc/json
SERVICES_PARCEL_USERNAME=
SERVICES_PARCEL_PASSWORD=
SERVICES_STORAGE_BASE_DIR=
SERVICES_DOWNLOAD_BASE_URL=
CONTROLLERS_PRINT_LABELS_CLIENT_NUMBER=
CONTROLLERS_PRINT_LABELS_PICKUP_ADDRESS_NAME=
CONTROLLERS_PRINT_LABELS_PICKUP_ADDRESS_STREET=
CONTROLLERS_PRINT_LABELS_PICKUP_ADDRESS_HOUSE_NUMBER=
CONTROLLERS_PRINT_LABELS_PICKUP_ADDRESS_HOUSE_NUMBER_INFO=
CONTROLLERS_PRINT_LABELS_PICKUP_ADDRESS_CITY=
CONTROLLERS_PRINT_LABELS_PICKUP_ADDRESS_ZIP_CODE=
CONTROLLERS_PRINT_LABELS_PICKUP_ADDRESS_COUNTRY_ISO_CODE=
CONTROLLERS_PRINT_LABELS_PICKUP_ADDRESS_CONTACT_NAME=
CONTROLLERS_PRINT_LABELS_PICKUP_ADDRESS_CONTACT_PHONE=
CONTROLLERS_PRINT_LABELS_PICKUP_ADDRESS_CONTACT_EMAIL=
